
<div class="container">
  <% if user_signed_in? %>
    <p><%="Welcome, #{@user.name}" %></p>
    <p><%= "Your task list here (coming soon)" %></p>
  <% else %>
    <%= "Blocitoff, a simple todo list that automatically deletes stale old tasks that you weren't really going to do anyway!" %>
  <% end %>
</div>

